@use '../variables/colors' as *;
@use '../variables/fonts' as *;
header {
    height: 3.5rem;
    width: 100%;
    display: flex;
    background-color: $container_color;
    z-index: 100;
    position: fixed;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav_logo_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            div {
                display: flex;
                justify-content: center;
                img {
                    width: 70%;
                }
            }
            span {
                font-weight: 600;
            }
        }
        ul {
            display: flex;
            column-gap: 3rem;
            li {
                font-size: 16px;
                cursor: pointer;
            }
        }
        .menu_bar {
            display: none;
            cursor: pointer;
        }
        .exit_icon {
            font-size: 22px;
        }

    }
}

@media screen and (max-width: 699px) {
    header {
        nav {
        .menu_bar {
            display: flex;
        }
        .overlay {
            position: absolute;
            right: 0;
            left: 0;
            top: 100%;
            bottom: 0;
            height: 100vh;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.444);
        }
            ul {
                flex-direction: column;
                row-gap: 2rem;
                position: absolute;
                right: 0;
                top: 100%;
                padding-top: 3rem;
                padding-inline: 3rem;
                height: 100vh;
                background-color: $first_color-alt;
                li {
                    font-size: 18px;
                    cursor: pointer;
                }
            }
            .visible {
                animation: nav_fade_in 500ms;
                display: flex;
            }
            .invisible {
                display: none;
            }
            .fade_out {
                animation: nav_fade_out 500ms;
            }
        }
    }
}

@keyframes nav_fade_in {
    from {
        right: -10rem;
        left: 100%;
    }
    to {
        right: 0;
    }
}

@keyframes nav_fade_out {
    from {
        right: 0;
    }
    to {
        right: -10rem;
        left: 100%;
    }
}