@use '../variables/colors' as *;
@use '../variables/fonts' as *;

.logos {
    .logos_container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        place-items: center;
        column-gap: 4rem;
        max-width: 800px;
        margin: 0 auto;
        img {
            cursor: none;
            filter: contrast(20%);
            width: 50px;
            transition: 300ms;
            &:hover {
                filter: contrast(100%);
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .logos {
        .logos_container {
            row-gap: 5rem;
            column-gap: 0rem;
        grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width: 500px) {
    .logos {
        .logos_container {
        max-width: 300px;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}