@use '../variables/colors' as *;
@use '../variables/fonts' as *;

.popular {
    .popular_container {
        h2 {
            text-align: center;
            font-size: 26px;
        }
        .cards_holder {
            align-self: center;
            padding: 0.9rem;
            padding-bottom: 3rem;
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            max-width: calc(224.8px * 3 + 2rem);
        }
    }
}

@media screen and (max-width: 789px) {
    .popular {
        .popular_container {
            .cards_holder {
                max-width: calc(224.8px * 2 + 2rem);
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .popular {
        .popular_container {
            .cards_holder {
                max-width: calc(224.8px * 1 + 2rem);
            }
        }
    }
}