
$first-color: rgb(65, 120, 220);
$first-color-alt: rgb(48, 107, 217);
$title-color: rgb(241, 242, 243);
$text-color: rgb(186, 190, 196);
$text-color-light: rgb(136, 139, 145);
$white-color: rgb(255, 255, 255);
$body-color: rgb(10, 10, 11);
$container-color: rgb(17, 18, 19);

