@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;300;500;900&display=swap');
/*.5rem = 8px | 1rem = 16px ...*/


$body_font: 'Exo 2', sans_serif; // 'Montserrat', sans-serif;
$h1_font_size: 1.5rem;
$h2_font_size: 1.25rem;
$h3_font_size: 1rem;
$normal_font_size: .938rem;
$small_font_size: .813rem;
$smaller_font_size: .75rem;

/*========== Big Fonts ==========*/
$B_h1_font_size: 2.25rem;
$B_h2_font_size: 1.5rem;
$B_h3_font_size: 1.25rem;
$B_normal_font_size: 1rem;
$B_small_font_size: .875rem;
$B_smaller_font_size: .813rem;