@use './sass/variables/colors' as *;
@use './sass/variables/fonts' as *;
@import './sass/components/header';
@import './sass/components/home';
@import './sass/components/about';
@import './sass/components/popular';
@import './sass/components/card';
@import './sass/components/extra';
@import './sass/components/featured';
@import './sass/components/offer';
@import './sass/components/logos';
@import './sass/components/footer';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $text-color;
}

body {
    font-family: $body-font;
    font-size: $normal-font-size;
    color: $text-color;
    background-color: $body-color;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-weight: 600;
    color: $title-color;
}

img {
    max-width: 100%;
    user-select: none;
    height: auto;
}

.container {
    width: 70%;
    margin: auto;
}

section {
    padding-block: 4rem;
    padding-inline: 2rem;
}

button {
    font-family: $body-font;
    border: none;
    outline: none;
    cursor: pointer;
}

.shadow {
    position: absolute;
    border-radius: 50%;
    background-color: hsla(219, 33%, 32%, 0.5);
}

::-webkit-scrollbar {
    width: .5rem;
    background-color: hsl(219, 4%, 16%);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: hsl(219, 4%, 50%);
}
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(219, 4%, 32%);
    cursor: pointer;
    border-radius: 10px;
}
